body {
  background-color: #000000;
  font-family: sans-serif;
  margin: 0px;
  overflow: hidden;
  color: rgba(255, 255, 255, 1.00);
}

h1 {
  font-size: 60px;
  margin-left: -50%;
  color: rgba(0, 0, 0, 1.00);
}

h2 {
  font-size: 40px;
  margin-left: -50%;
  font-weight: normal;
  color: rgba(0, 0, 0, 1.00);
}

ul {
  margin-top: 0%;
  margin-right: 0%;
  margin-left: -50%;
  padding: 0;
  margin-bottom: 0%;
  list-style-type: none;
  font-size: 30px;
}

canvas {
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: block; //border: 1px solid #333333;
  z-index: -1;
  overflow: hidden;
}

#content {
  text-align: center;
}

#content2 {
  display: inline;
  text-align: left;
  position: absolute;
  top: 20%;
}

.shadow {
  text-shadow: 5px 5px rgba(0, 0, 0, 0.50);
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#colorJS {}

li a {
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, 1.00);
  padding-right: 4px;
  padding-left: 4px;
  color: inherit;
}

.shortText {
  display: none;
}

.longText {
  display: block;
}

@media (max-width: 1250px) {
  .longText {
    display: none;
  }
  .shortText {
    display: block;
  }
}
