body {
  background-color: #000000;
  font-family: sans-serif;
  margin: 0px;
  overflow: hidden;
  color: rgba(255, 255, 255, 1.00);
}

h1 {
  font-size: 50px;
  margin-left: -50%;
  color: rgba(255, 255, 255, 1.00);
}

canvas {
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: block;
  border: 1px solid #333333;
  z-index: -1;
  overflow: hidden;
}

#content {
  text-align: center;
}

#content2 {
  display: inline;
  text-align: left;
  position: absolute;
  top: 0%;
}

.shortText {
  display: none;
}

.longText {
  display: block;
}

@media (max-width: 1250px) {
  .longText {
    display: none;
  }
  .shortText {
    display: block;
  }
}
